/vendor
/node_modules
.env
.env.backup
.phpunit.result.cache
/public/storage
/public/build
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
